<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"


xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">


<head>

<title>User List</title>
<!-- Read Dedicated CSS -->
<link  rel ="stylesheet" th:href ="@{/css/user/list.css}">
</head>

<body>


<div layout:fragment="content">

  <div class="header border-bottom">
  <h1  class ="h2">User List</h1>
  </div>
  <!-- user list search -->
  <div class="mb-4">
     <form  class="form-inline" method="post" th:action="@{/user/list}" th:object="${userListForm}">
        <div class="form-group">
          <label for= "userId" class="mr-2">UserId:</label>
          <input  class="form-control" type="text" th:field="*{userId}"></input>
        </div>
        <div class="form-group">
          <label for= "userName"  class="mr-2 mx-sm-3">UserName:</label>
          <input  class="form-control" type="text" th:field="*{userName}"></input>
          
        </div>
        <button class="btn btn-primary mx-sm-3" type="submit">Search</button>
       
     </form>
  </div>

 <div>
   <table class="table table-striped table-bordered table-hover">
     <tr>
       <th>User ID</th>
       <th>User Name</th>
       <th>Birthday</th>
       <th>Age</th>
       <th>Gender</th>
       <th></th>
     </tr>
     
     <tr th:each="item:${musers}">
        <td th:text="${item.userId}"></td>
        <td th:text="${item.userName}"></td>
        <td th:text="${item.birthday}"></td>
        <td th:text="${item.age}"></td>
        <td th:text="${item.gender}==1?'Male':'Female'"></td>
        <td><a th:href="@{'/user/detail/'+${item.userId}}" class="btn btn-primary">Detail</a></td>
     
     </tr>
   
   
   
   </table>
 
 
 
 </div>

</div>

</body>
</html>