<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper and xml mapping -->

<mapper  namespace ="com.example.demo.repository.UserMapper">
	
	<resultMap id="user" type="com.example.demo.domain.MUser">
		<id column="user_id" property="userId" />
		<result column="password" property="password" />
		<result column="user_name" property="userName" />
		<result column="birthday" property="birthday" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
		<result column="department_id" property="departmentId" />
		<result column="role" property="role" />
        <!-- if one to one use association-->
		<association property="department" resultMap="department" />
		
		<!-- if one to many ,use colleciton-->
		<collection property="salaryList" resultMap="salary" columnPrefix="salary_"/>
		
		
	</resultMap>
	
	<resultMap id="department" type="com.example.demo.domain.Department">
		<id column="department_id" property="departmentId" />
		<result column="department_name" property="departmentName" />
	
		
	</resultMap>
	
	<resultMap id="salary" type="com.example.demo.domain.Salary">
		<id column="user_id" property="userId" />
		<id column="year_month1" property="yearMonth1" />
		<result column="salary" property="salary" />
	
		
	</resultMap>
	
	<insert id="InsertOne" useGeneratedKeys="true" keyProperty="id">
		
		 insert into m_user(
            user_id , password , user_name , birthday , 
            age , gender , department_id, role )
         values (
            #{userId}, #{password} , #{userName},    #{birthday},
            #{age},    #{gender},   #{departmentId}, #{role}
         )
           
	</insert>
	
	<select  id="getAllMuser" resultType="MUser">
		
		 select  
            user_id , password , user_name , birthday , 
            age , gender , department_id, role 
         from m_user
         <!-- if column have ,you should test it-->
         <where>
			 <if test="userId!=null"> user_id like '%${userId}%'</if>
			 <if test="userName!=null">  and user_name like '%${userName}%'</if>
			 
		 </where>
           
	</select>
	
	<select  id="findOne" resultMap="user">
		
		 select  
            a.user_id , password , user_name , birthday , 
            age , gender , a.department_id, role ,b.department_name,
            c.user_id as salary_user_id,
            c.year_month1 as salary_year_month1,
            c.salary as salary_salary
            from m_user a left join  m_department b on a.department_id = b.department_id
               left join t_salary c on a.user_id = c.user_id
         where a.user_id = #{userId}
           
	</select>
	
	<delete   id="DeleteOne" >

         delete from m_user
         where user_id = #{userId}
           
	</delete>
	
	<update   id="updateOne" >

         update m_user
           set user_name=${userName},
               password = ${password}
         where user_id = #{userId}
           
	</update>
	
	<!-- for login-->
	<select  id="getOneMuser" resultType="MUser">
		
		select  
            user_id , password , user_name , birthday , 
            age , gender , department_id, role 
         from m_user
         where user_id = #{userId}
           
	</select>


</mapper>
