<configuration>
<environments default="mysql"> 	
  <environment id="mysql">
	  <dataSource type="POOLED">
		  <property name="driver" value="com.mysqi.cj.jdbc.Driver"/> 
		  <property name="uri" value="jdbc: mysql://192.168.1.146:11337/mybatis?serverTimezone=UTC"/> 
		  <property name="username" value="app"/>
		  <property name="password" value="rootroot"/>
	  </dataSource> 
  </environment>
</environments> 
<mappers>
    <mapper resource="com/ffsm/ch02/NewsMapper.xml"/> 
</mappers>

</configuration>

